@import url(http://fonts.googleapis.com/css?family=Inconsolata:400,700);

* {
  -webkit-font-smoothing: antialiased;
  font-family: 'Inconsolata', sans-serif;
}

.navbar-clearBG {
  background: none;
}

.ICPC-navbar-brand {
  font-size: 27px;
  font-weight: 700;
  margin-top: -5px;
}

.ICPC-footer-brand {
  font-size: 40px;
  font-weight: 700;
}

.ICPC-navbar-collapse {
  font-size: 15px;
}

.ICPC-post-type {
  margin-bottom: -15px;
}

.ICPC-footer {
  background-color: #444444;
  color: #FFFFFF;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-top: 25px;
}

.paddingLR {
  padding-left: 25px;
  padding-right: 25px;
}

.block {
  display: block;
}
/*.alert {
  margin-right: 4.5em;
  margin-left: 4.5em;
  padding-top: 1em;
  border-radius: 3px;
  font-size: 16px;
  font-family: "Source Code Pro";
}

.alert > .head {
  display: inline;
  margin-left: 1.5em;
}

.alert > .head > .fa {
  float: right;
  margin-right: 1.5em;
}

.alert > .body {
  margin-top: 1em;
  margin-right: 1.5em;
  margin-bottom: 1em;
  margin-left: 1.5em;
}

.alert > .body > h2 {
  margin-bottom: .25em;
}

.announcement {
  margin-bottom: 1em;
  border: solid 1px #bce8f1;
  background-color: #d9edf7;
  color: #31708f;
}

.announcement > .head {
  padding-bottom: .5em;
  border-bottom: solid 1px #bce8f1;
}

.announcement > .head > .fa {
  color: #31708f;
}

.practice {
  margin-bottom: 3em;
  border: solid 1px #d6e9c6;
  background-color: #dff0d8;
  color: #3c763d;
}

.practice > .head {
  padding-bottom: .5em;
  border-bottom: solid 1px #d6e9c6;
}

.practice > .head > .fa {
  color: #3c763d;
}

.navlist > .item > .navlink, .navlist > .item > .brand {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.navlist > .item {
  display: table;
  float: left;
  height: 4em;
  font-size: 12pt;
}

.navlist {
  display: inline;
  list-style-type: none;
}

.navlist > .item.active > .navlink > a {
  color: #5856d6 !important;
}

.brand.active a {
  color: #5856d6 !important;
}

.navlist > .item:last-child {
  float: right;
  margin-right: 1.5em;
}

.navlist > .item:first-child,
.navlist > .item:nth-child(2) {
  float: left;
  margin-left: 1em;
}

.brand.logo > a {
  color: #7c75fa;
}

.brand.logo {
  float: left;
  margin-left: -74px;
}

.post pre.terminal code {
  background: #333;
}

.post pre.terminal {
  border: 1px solid #000;
  background: #333;
  color: #fff;
}

pre .lineno {
  padding-right: 5px;
  border-right: solid 1px #aaa;
}

.navbar {
  border-bottom: solid 10px #7c75fa;
  background: #5856d6;
}

.navbar > .navlist-bg > .navlist > .item > .navlink > *,
.navbar > .navlist-bg > .navlist > .item > h1.brand > a {
  color: #fff;
  font-weight: normal;
  font-family: "Source Code Pro";
}

.brand {
  text-decoration: none;
  font-size: 24pt;
}

.brand.right {
  float: none;
  margin-left: 100%;
  width: auto;
}

.navlist-bg {
  margin-right: 15%;
  margin-left: 15%;
  height: 5em;
  background: #7c75fa;
}

.post-header > .meta {
  display: inline;
  float: right;
  margin-right: 1em;
  padding-top: .6em;
  color: #aaa;
}

.post-header > a > .fa {
  float: left;
  margin-top: -.25em;
}

.post-header > h1.title {
  display: inline;
  float: right;
  margin-top: -.25em;
  text-align: right;
}

article a {
  color: #5856d6 !important;
  text-decoration: underline;
}

article pre {
  margin-bottom: 1em;
}

article h2 {
  margin-bottom: .25em;
  padding-top: .25em;
  padding-bottom: .25em;
  border-bottom: solid 1px #fafafa;
}

article h1 {
  margin-top: 1em;
  margin-bottom: .5em;
  padding-bottom: .25em;
  border-bottom: solid 1px #f8f8f8;
  font-size: 26px;
}

.post-header {
  margin-right: -1em;
  margin-bottom: 1em;
  margin-left: -1em;
  padding-bottom: 3em;
  border-bottom: solid 1px #eee;
}

.post {
  margin-top: 2.5em;
  margin-bottom: 4em;
}

.left {
  float: left;
  width: 33%;
  border-right: dashed 1px #666e7b;
  text-align: center;
}

.both {
  margin-top: 5em;
}

a.contact {
  color: #000;
}

.center {
  display: inline-block;
  width: 33%;
  border-right: dashed 1px #666e7b;
  text-align: center;
}

.right {
  float: right;
  width: 33%;
  text-align: center;
}

.left > h2.title {;
}

.clear {
  clear: both;
}

.warbanner {
  margin-bottom: 2em;
  width: auto;
  height: 300px;
  border-bottom: solid 10px #7c75fa;
  background-image: url("../assets/images/warimage.gif");
  background-size: cover;
  background-repeat: no-repeat;
}

.post pre code {
  border: none;
}

.resource > a > div.link {
  display: inline;
  color: #a6aebb;
}

.resource {
  margin-top: 1.5em;
  margin-right: 1.5em;
  margin-left: 1.5em;
  padding-right: 1.5em;
  padding-bottom: 1.5em;
  border-bottom: solid 1px #b8b8b8;
  font-family: "Mercury SSm A", "Mercury SSm B", Georgia, "Times New Roman", serif;
}

.resources {
  margin-top: 3em;
}

.resource > a > div.fa {
  display: block !important;
  margin-top: -1.25em;
  margin-left: 97%;
}

.resource > a > h2.title {
  display: inline;
  margin-left: .5em;
  color: #1a1a1a;
}

.resource > a > div {
  margin-top: .75em;
  margin-left: .8em;
  color: #666e7b;
}

.fa.fa-code,
.fa.fa-comment,
.fa.fa-external-link {
  color: #7c75fa;
}

hr {
  height: 1px;
  border: 0;
  background: #aaa;
}

body {
  margin-bottom: 4em;
  background: #fff;
  text-align: center;
  font: small Helvetica, Arial, sans-serif;
  font-size: 13.34px;
}

* {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

h1 {
  margin-bottom: 1em;
}

a {
  text-decoration: none;
}

p {
  margin: 0 0 1em;
}

.about {
  margin-bottom: 2em;
  list-style-type: none;
}

.about li {
  line-height: 1.75em;
}

.post:not(.meta), .info {
  color: #463f40;
  font-family: "Mercury SSm A", "Mercury SSm B", Georgia, "Times New Roman", serif;
  line-height: 24px;
}

.header a.extra:hover {
  color: #000;
}

.post pre {
  padding: 0 .4em;
  border: 1px solid #ddd;
  background: #eef;
}

.post code {
  border: 1px solid #ddd;
  background: #eef;
}

.post ul, .post ol {
  margin-left: 3em;
}

.header a.extra {
  margin-left: 1em;
  color: #aaa;
}

.title a:hover {
  color: #ff5d4a;
}

a.title, h2.title {
  margin-bottom: .75em;
  text-decoration: none;
  font: 400 18pt "Crimson", Georgia, serif;
}

.site {
  margin-right: 21%;
  margin-left: 21%;
  text-align: justify;
  font-size: 115%;
  line-height: 1.5em;
}

.about span {
  color: #aaa;
  font: 80% Monaco, "Courier New", monospace;
}

.title {
  font: 400 32pt "Crimson", Georgia, serif;
}

.title a {
  color: #c72d41;
}

.title.post {
  display: inline-block;
  margin: .5em 0 0;
}*/
