/*
 * Global
 */

* {
  margin: 0;
  padding: 0;
}

body {
  font: small Helvetica, Arial, sans-serif;
  font-size: 13.34px;
  margin-bottom: 4em;
  text-align: center;
  background: #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin: 0 0 0;
}

hr {
  height: 1px;
  border: 0;
  background: #aaa;
}

.site {
  font-size: 115%;
  line-height: 1.5em;
  margin-right: 9%;
  margin-left: 9%;
  text-align: justify;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .site {
    margin-right: 0;
    margin-left: 0;
  }
}

@media only screen and (min-width: 1224px) {
  .site {
    margin-right: 18%;
    margin-left: 18%;
  }
}

.fa.fa-code,
.fa.fa-comment,
.fa.fa-external-link {
  color: #7c75fa;
}

.title a:hover {
  color: #ff5d4a;
}

a.title,
h2.title {
  font: 400 18pt 'Crimson', Georgia, serif;
  margin-bottom: .75em;
  text-decoration: none;
}

.title {
  font: 400 32pt 'Crimson', Georgia, serif;
}

.title a {
  color: #c72d41;
}

/*
 * Navigation Bar
 */

.brand {
  font-size: 24pt;
  text-decoration: none;
}

.brand.right {
  float: none;
  width: auto;
  margin-left: 100%;
}

.brand.logo > a {
  color: #7c75fa;
}

.brand.logo {
  float: left;
  margin-left: -74px;
}

.brand.active a {
  color: #5856d6 !important;
}

.navbar {
  border-bottom: solid 10px #7c75fa;
  background: #5856d6;
}

.navbar > .navlist-bg > .navlist > .navitem > .navlink > *,
.navbar > .navlist-bg > .navlist > .navitem > h1.brand > a {
  font-family: 'Source Code Pro';
  font-weight: normal;
  color: #fff;
}

.navlist {
  display: inline;
  list-style-type: none;
}

.navlist-bg {
  height: 5em;
  margin-right: 15%;
  margin-left: 15%;
  background: #7c75fa;
}

.navlist > .navitem {
  font-size: 12pt;
  display: table;
  float: left;
  height: 4em;
}

.navlist > .navitem > .navlink,
.navlist > .navitem > .brand {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.navlist > .navitem:last-child {
  float: right;
  margin-right: 1.5em;
}

.navlist > .navitem:first-child,
.navlist > .navitem:nth-child(2) {
  float: left;
  margin-left: 1em;
}

.navlist > .navitem.active > .navlink > a {
  color: #5856d6 !important;
}

/*
 * Item Lists
 */

.items {
  margin-top: 3em;
}

.item > a > div.link {
  display: inline;
  color: #a6aebb;
}

.item {
  font-family: 'Mercury SSm A', 'Mercury SSm B', Georgia, 'Times New Roman', serif;
  margin-top: 1.5em;
  margin-right: 1.5em;
  margin-left: 1.5em;
  padding-right: 1.5em;
  padding-bottom: 1.5em;
  border-bottom: solid 1px #b8b8b8;
}

.item > a > div {
  margin-top: .75em;
  margin-left: .8em;
  color: #666e7b;
}

.item > a > h2.title {
  display: inline;
  margin-left: .5em;
  color: #1a1a1a;
}

.item > a > div.fa {
  display: block !important;
  margin-top: -1.25em;
  margin-left: 97%;
}

/*
 * Posts
 */

/* Common */
.post {
  margin-top: 2.5em;
  margin-bottom: 4em;
}

.post pre code {
  border: none;
}

.post:not(.meta),
.info {
  font-family: 'Mercury SSm A', 'Mercury SSm B', Georgia, 'Times New Roman', serif;
  line-height: 24px;
  color: #463f40;
}

.post ul,
.post ol {
  margin-left: 3em;
}

.post-header {
  margin-right: -1em;
  margin-bottom: 1em;
  margin-left: -1em;
  padding-bottom: 3em;
  border-bottom: solid 1px #eee;
}

.post-header > .meta {
  display: inline;
  float: right;
  margin-right: 1em;
  padding-top: .6em;
  color: #aaa;
}

.post-header > a > .fa {
  float: left;
  margin-top: -.25em;
}

.post-header > h1.title {
  display: inline;
  float: right;
  margin-top: -.25em;
  text-align: right;
}

article a {
  text-decoration: underline;
  color: #5856d6 !important;
}

article pre {
  margin-bottom: 1em;
}

article h2 {
  margin-bottom: .25em;
  padding-top: .25em;
  padding-bottom: .25em;
  border-bottom: solid 1px #fafafa;
}

article h1 {
  font-size: 26px;
  margin-top: 1em;
  margin-bottom: .5em;
  padding-bottom: .25em;
  border-bottom: solid 1px #f8f8f8;
}

/* Syntax Highlighting */

.post pre {
  padding: 0 .4em;
  border: 1px solid #ddd;
  background: #eef;
}

.post code {
  border: 1px solid #ddd;
  background: #eef;
}

.post pre.terminal code {
  background: #333;
}

.post pre.terminal {
  color: #fff;
  border: 1px solid #000;
  background: #333;
}

pre .lineno {
  padding-right: 5px;
  border-right: solid 1px #aaa;
}

/* Contact Page */

.left {
  float: left;
  width: 33%;
  text-align: center;
  border-right: dashed 1px #666e7b;
}

.both {
  margin-top: 5em;
}

a.contact {
  color: #000;
}

.center {
  display: inline-block;
  width: 33%;
  text-align: center;
  border-right: dashed 1px #666e7b;
}

.right {
  float: right;
  width: 33%;
  text-align: center;
}

.clear {
  clear: both;
}

/*
 * Front page
 */

.alert {
  font-family: 'Source Code Pro';
  font-size: 16px;
  padding-top: 1em;
  padding-right: 1.5em;
  padding-left: 1.5em;
  border-radius: 3px;
}

.alert > .head {
  display: inline-block;
  width: 100%;
}

.alert > .head > p {
  display: inline-block;
  float: left;
  width: 92%;
  margin-right: 2em;
}

.alert > .body {
  margin-top: 1em;
  margin-bottom: 1em;
}

.alert > .body > h2 {
  margin-bottom: .25em;
}

.alert > .body > .list-group {
  list-style-type: none;
}

.alert > .body > .list-group > .list-group-item:nth-child(1) {
  padding-bottom: 1em;
}

.alert > .body > .list-group > .list-group-item:not(:nth-child(1)) {
  padding-top: 1em;
  padding-bottom: 1em;
  border-top: solid 1px black;
}

/* Message */

.message {
  color: black;
  border: solid 1px black;
  background-color: #fff;
}

/* Announcements */

.announcement {
  margin-bottom: 1em;
  color: #31708f;
  border: solid 1px #bce8f1;
  background-color: #d9edf7;
}

.announcement > .head {
  border-bottom: solid 1px #bce8f1;
}

.announcement > .head > .fa {
  color: #31708f;
}

.announcement > .body > .list-group > .list-group-item {
  color: #31708f !important;
}

.announcement > .body > .list-group > .list-group-item:not(:nth-child(1)) {
  border-top: solid 1px #bce8f1;
}

/* Practices */

.practice {
  margin-bottom: 3em;
  color: #3c763d;
  border: solid 1px #d6e9c6;
  background-color: #dff0d8;
}

.practice > .head {
  border-bottom: solid 1px #d6e9c6;
}

.practice > .head > .fa {
  color: #3c763d;
}

/* Hero Image */

.warbanner {
  width: auto;
  height: 300px;
  margin-bottom: 2em;
  border-bottom: solid 10px #7c75fa;
  background-image: url('../assets/images/Banner2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
