/* Common */
* {
  margin: 0;
  padding: 0;
}

body {
  margin-bottom: 4em;
  background-color: #fff;
  text-align: center;
  font: 13.34px Helvetica, Arial, sans-serif;
  font-size: small;
}

hr {
    height: 1px;
    border: 0;
    background: #aaa;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

h1 { margin-bottom: 1em; }
p { margin: 0 0 1em 0; }

a { text-decoration: none; }

/* Home */
.posts {
  margin-bottom: 2em;
  list-style-type: none;
}

.posts li {
  line-height: 1.75em;
}

.posts span {
  color: #aaa;
  font-size: 80%;
  font-family: Monaco, "Courier New", monospace;
}

/* Site */
.cover {
  margin-top: 1em;
  margin-bottom: 1.5em;
  width: 100%;
  height: auto;
  background-position: center center;
  background-size: auto;
  background-repeat: no-repeat;
}

.front.cover {
  margin-bottom: 1em;
  width: 100%;
  height: 300px;
}

.site {
  margin-right: 21%;
  margin-left: 21%;
  text-align: justify;
  font-size: 115%;
  line-height: 1.5em;
}

.header a {
  text-decoration: none;
}

a.title, h2.title, .meta.title {
  margin-bottom: .75em;
  text-decoration: none;
  font-weight: 400;
  font-size: 18pt;
  font-family: 'Crimson', Georgia, serif;
  -webkit-font-smoothing: subpixel-antialiased;
}

.brand, h1.title {
  display: inline;
  margin-bottom: .5em;
}

.title {
  font-weight: 400;
  font-size: 32pt;
  font-family: 'Crimson', Georgia, serif;
  -webkit-font-smoothing: subpixel-antialiased;
}

.title.post {
  display: inline-block;
  margin: .5em 0 0 0;
}

.title a {
  color: #C72D41;
}

.title a:hover {
  color: #FF5D4A;
}

.header a.extra {
  margin-left: 1em;
  color: #aaa;
}

.header a.extra:hover {
  color: #000;
}

.meta {
  float: right;
  margin-top: auto;
  margin-bottom: auto;
  color: #aaa;
}

.footer {
  overflow: hidden;
  margin-top: 2em;
  border-top: 4px solid #eee;
  color: #666;
  font-size: 80%;
}

.footer .contact {
  float: left;
  margin-right: 3em;
}

.footer .contact a {
  color: #8085C1;
}

.footer .rss {
  float: right;
  margin-top: 1.1em;
  margin-right: -.2em;
}

.footer .rss img {
  border: 0;
}

/* Posts */
.post:not(.meta) {
  color: #463F40;
  font-size: 18px;
  font-family: 'Mercury SSm A', 'Mercury SSm B', Georgia, 'Times New Roman', serif;
  line-height: 32px;
}

/* standard */
.post pre {
  padding: 0 .4em;
  border: 1px solid #ddd;
  background-color: #eef;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  padding: 0 .2em;
  border: 1px solid #ddd;
  background-color: #eef;
}

.post pre code {
  border: none;
}

/* terminal */ */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #fff;
}

.post pre.terminal code {
  background-color: #333;
}

/* Navigation Bar */
.navbar {
  border-bottom: solid 10px #7C75FA;
  background-color: #5856D6;
}

.navbar > .navlist-bg > .navlist > .item > .navlink > *,
.navbar > .navlist-bg > .navlist > .item > h1.brand > a {
  color: white;
  font-family: "Source Code Pro";
}

.navlist-bg {
  margin-right: 15%;
  margin-left: 15%;
  height: 5em;
  background-color: #7C75FA;
}

.brand {
  text-decoration: none;
  font-size: 24pt;
}

.brand.logo {
  float: left;
  margin-left: -74px;
}

.brand.logo > a {
  color: #7C75FA;
}

.navlist {
  display: inline;
  list-style-type: none;
}

.navlist > .item {
  display: table;
  float: left;
  height: 4em;
  font-size: 12pt;
}

.navlist > .item > .navlink,
.navlist > .item > .brand {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.navlist > .item.active > .navlink > a {
  color: #5856D6 !important;
}

.brand.active a {
  color: #5856D6 !important;
}

.navlist > .item:first-child,
.navlist > .item:nth-child(2) {
  float: left;
  margin-left: 1em;
}

.navlist > .item:last-child {
  float: right;
  margin-right: 1.5em;
}

/* Front Page */
.warbanner {
  width: auto;
  height: 300px;
  border-bottom: solid 10px #7C75FA;
  margin-bottom: 2em;
  background-image: url("../assets/images/warimage.gif");
  background-size: cover;
  background-repeat: no-repeat;
}

/* Contact Page */
a.contact {
  color: black;
}

.both {
  margin-top: 5em;
}

.left {
  float: left;
  margin-top: 0;
  margin-left: 0;
  width: 45%;
  border-right: dashed 1px #666e7b;
  text-align: center;
}

.right {
  margin-right: auto;
  margin-left: 45%;
  text-align: center;
}

.left > h2.title {
}

.clear {
  clear: both;
}

/* Learn Page */
.resources {
  margin-top: 3em;
}

.resource {
  margin-top: 1.5em;
  margin-right: 1.5em;
  margin-left: 1.5em;
  padding-bottom: 1.5em;
  border-bottom: solid 1px #b8b8b8;
  font-family: 'Mercury SSm A', 'Mercury SSm B', Georgia, 'Times New Roman', serif;
}

.resource > a > div.link {
  display: inline;
  color: #a6aebb;
}

.resource > a > div.fa {
  float: right;
  color: black;
}

.resource > a > h2.title {
  display: inline;
  margin-left: .5em;
  color: #1a1a1a;
}

.resource > a > div {
  margin-top: .75em;
  margin-left: .75em;
  color: #666e7b;
}