---
layout: default
title: Announcements
---

{% for announcement in site.categories["announcements"] %}
  <div class="item">
    <a href="{{ site.baseurl }}{{ announcement.url }}">
      <h2 class="title">{{ announcement.title }}</h2>
      <div class="link">
        {{ announcement.time }} • {{ announcement.date | date: "%b %-d, %Y" }}
      </div>
      <div class="fa fa-comment"></div>
      <div>
        {% if announcement.description %}
          {{ announcement.description }}
        {% else %}
          {{ announcement.content | strip_html | truncatewords:30 }}
        {% endif %}
      </div>
    </a>
  </div>
{% endfor %}
