---
layout: default
title: Practices
---

<div class="container">
  {% for practice in site.categories["practices"] %}
    <div class="resource">
      <a href="{{ site.baseurl }}{{ practice.url }}">
        <h2 class="title">{{ practice.title }}</h2>
        <div class="link">
        {{ practice.time }} • {{ practice.date | date: "%b %-d, %Y" }}
        </div>
        <div class="fa fa-code"></div>
        <div>
          {% if practice.description %}
          {{ practice.description }}
          {% else %}
          {{ practice.content | strip_html | truncatewords:30 }}
          {% endif %}
        </div>
      </a>
    </div>
  {% endfor %}
</div>
