---
layout: default
title: Resources
---

<div class="container">
  <div class="row">
    <div class="container">
      <h2>Resources</h2>
    </div>
  </div>

  <div class="container">
    <!-- Problem Sets -->
    <div class="row">
      <div class="container">
        <h3>Problem Sets</h3>
      </div>
    </div>

    {% for resource in site.data.resources %}
    <div class="row">
      <div class="container">
        <span class="block">{{ resource.title }}</span>
        <span class="block"><a href="{{resource.link}}">{{ resource.link }}</a></span>
        <span class="block">{{ resource.description }}</span>
        ---
      </div>
    </div>
    {% endfor %}

    <!-- Algorithms -->
    <div class="row">
      <div class="container">
        <h3>Algorithms</h3>
      </div>
    </div>

    {% for resource in site.data.resources %}
    <div class="row">
      <div class="container">
        <span class="block">{{ resource.title }}</span>
        <span class="block"><a href="{{resource.link}}">{{ resource.link }}</a></span>
        <span class="block">{{ resource.description }}</span>
        ---
      </div>
    </div>
    {% endfor %}
  </div>
</div>
