---
layout: default
title: Solutions
---

{% if site.categories["solutions"] | size > 0 %}
  {% for solution in site.categories["solutions"] %}
    <div class="item">
      <a href="{{ site.baseurl }}{{ solution.url }}">
        <h2 class="title">{{ solution.title }}</h2>
        <div class="link">
        {{ solution.time }} • {{ solution.date | date: "%b %-d, %Y" }}
        </div>
        <div class="fa fa-code"></div>
        <div>
          {% if solution.description %}
            {{ solution.description }}
          {% else %}
            {{ solution.content | strip_html | truncatewords:30 }}
          {% endif %}
        </div>
      </a>
    </div>
  {% endfor %}
{% else %}
<div class="alert solution">
  <div class="head" style="border-bottom: none;">
    <p>There's nothing here right now...</p>
  <div class="fa fa-code fa-lg"></div>
  </div>
  <div class="body"></div>
</div>
{% endif %}
