<div class="footer ICPC-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <span class="block">Association for Computing Machinery - International Collegiate Programming Contest</span>
        <span class="block">University of Illinois at Urbana-Champaign</span>
        <span class="block">Designed and built by <a href="http://github.com/25cf">Charles Shao</a> and <a href="http://github.com/josephmilla">Joseph Milla</a>.</span>
      </div>

      <div class="col-md-3">
        <span class="ICPC-footer-brand">
            acm-icpc
            <span style="font-size: 50%; vertical-align: super; margin-left: -17px;">
            uiuc
            </span>
        </span>
      </div>
    </div>
  </div>
</div>

<!-- This file should be used mainly for global JS libraries. -->

<!-- jQuery -->
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<!-- Boostrap JS -->
<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.min.js"></script>

<!-- Holder JS -->
<script src="//cdnjs.cloudflare.com/ajax/libs/holder/2.3.1/holder.min.js"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.0.2/fullcalendar.min.js"></script>
<script type="text/javascript" src="js/gcal.js"></script>


<!-- TODO: Add Google Analytics here -->
