<div class="navbar">
  <div class="navlist-bg">
    <div class="brand logo" style="font-size:48px; color:white; margin-left:-72px; margin-top:0; margin-bottom:.25em;">
      <img width="64px" height="64px" src="{{ site.baseurl }}/assets/images/logo.png"></img>
    </div>
  <div class="navlist">
    <div class="navitem">
      <h1 class="brand {% if page.title == 'ICPC'%}active{% endif %}">
        <a href="{{ site.baseurl }}/home.html">ICPC</a>
      </h1>
    </div>

    <div class="navitem {% if page.title == 'Illinois Programming League' %}active{% endif %}">
      <div class="navlink"
            style="width:70px;">
        <a href="{{ site.baseurl }}/ipl.html">
          IPL
        </a>
      </div>
    </div>

    <div class="navitem {% if page.title == 'Solutions' or page.category == 'solutions' %}active{% endif %}">
      <div class="navlink"
            style="width:100px;">
        <a href="{{ site.baseurl }}/solutions.html">
            Solutions
        </a>
      </div>
    </div>

    <div class="navitem {% if page.title == 'Scoreboard' %}active{% endif %}">
      <div class="navlink"
            style="width:100px;">
        <a href="{{ site.baseurl }}/scoreboard.html">
            Scoreboard
        </a>
      </div>
    </div>

    <div class="navitem {% if page.title == 'Hall of Fame' %}active{% endif %}">
      <div class="navlink"
            style="width:100px;">
        <a href="{{ site.baseurl }}/halloffame.html">
            Hall of Fame
        </a>
      </div>
    </div>

    <div class="navitem {% if page.title == 'Calendar' %}active{% endif %}">
      <div class="navlink"
            style="width:100px;">
        <a href="{{ site.baseurl }}/calendar.html">
          Calendar
        </a>
      </div>
    </div>
    <div class="navitem {% if page.title == 'Learn' %}active{% endif %}">
      <div class="navlink"
            style="width:80px;">
        <a href="{{ site.baseurl }}/learn.html">
          Learn
        </a>
      </div>
    </div>
    <div class="navitem {% if page.title == 'Contact' %}active{% endif %}">
      <div class="navlink"
            style="width:100px;">
        <a href="{{ site.baseurl }}/contact.html">
          Contact
        </a>
      </div>
    </div>

    <div class="navitem">
      <h1 class="brand right">
        <a href="http://www.acm.uiuc.edu/">
          ACM@UIUC
        </a>
      </h1>
    </div>
  </div>
  </div>
</div>
