<nav class="navbar navbar-default navbar-clearBG" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand ICPC-navbar-brand" href="{{ site.baseurl }}/">
          acm-icpc
          <span style="font-size: 50%; vertical-align: super; margin-left: -7px;">
          uiuc
          </span>
      </a>
    </div>

    <div class="collapse navbar-collapse ICPC-navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="{% if page.title == 'ICPC'%}active{% endif %}">
          <a href="{{ site.baseurl }}/">home</a>
        </li>

        <li class="{% if page.title == 'Announcements' or page.category == 'announcements' %}active{% endif %}">
          <a href="{{ site.baseurl }}/announcements.html">announcements</a>
        </li>

        <li class="{% if page.title == 'Calendar' %}active{% endif %}">
          <a href="{{ site.baseurl }}/calendar.html">calendar</a>
        </li>

        <li class="{% if page.title == 'Practices' or page.category == 'practices' %}active{% endif %}">
          <a href="{{ site.baseurl }}/practices.html">practices</a>
        </li>

        <li class="{% if page.title == 'Learn' %}active{% endif %}">
          <a href="{{ site.baseurl }}/learn.html">learn</a>
        </li>

        <li class="{% if page.title == 'Contact' %}active{% endif %}">
          <a href="{{ site.baseurl }}/contact.html">contact</a>
        </li>
      </ul>

      <!-- <form class="navbar-form navbar-right" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>

        <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"><span></button>
      </form> -->
    </div>
  </div>
</nav>
