<div class="navbar">
<div class="navlist-bg">
  <div class="brand logo" style="font-size:48px; color:white; margin-left:-72px; margin-top:0; margin-bottom:0;">
    <img width="64px" height="64px" src="{{ site.baseurl }}/assets/images/icpc.png"></img>
  </div>
  
  <div class="navlist">
    <div class="navitem">
      <h1 class="brand {% if page.title == 'ICPC'%}active{% endif %}">
        <a href="{{ site.baseurl }}/home.html">ICPC</a>
      </h1>
    </div>

    <div class="navitem {% if page.title == 'Illinois Programming League' %}active{% endif %}">
      <div class="navlink" style="width:100px;">
        <a href="{{ site.baseurl }}/ipl.html">IPL</a>
      </div>
    </div>

    <div class="navitem {% if page.title == 'ICPC Regional Tryouts' %}active{% endif %}">
      <div class="navlink" style="width:100px;">
        <a href="{{ site.baseurl }}/tryouts.html">Tryouts</a>
      </div>
    </div>

    <div class="navitem {% if page.title == 'Spring Coding Contest' %}active{% endif %}">
      <div class="navlink" style="width:200px;">
        <a href="{{ site.baseurl }}/scc.html">Spring Coding Contest</a>
      </div>
    </div>

    <div class="navitem {% if page.title == 'Hall of Fame' %}active{% endif %}">
      <div class="navlink" style="width:200px;">
        <a href="{{ site.baseurl }}/halloffame.html">Hall of Fame</a>
      </div>
    </div>

    <!-- <div class="navitem"> -->
    <!--   <div class="navlink" style="width:200px;"> -->
    <!--     <a href="https://forms.gle/2juagKjRLbBEDvzm6">Apply!</a> -->
    <!--   </div> -->
    <!-- </div> -->

    <div class="navitem {% if page.title == 'Contact' %}active{% endif %}">
      <div class="navlink" style="width:100px;">
        <a href="{{ site.baseurl }}/contact.html">Contact</a>
      </div>
    </div>
  </div>
</div>
</div>
